# Vercel
.vercel

# Dependencies
node_modules

# Next.js build output
.next

# Lock files (using pnpm)
package-lock.json

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Mac
.DS_Store
Thumbs.db
